<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bug valid assert</title>
    </head>
    <body>
    {{ form_start(form) }}
    <br/>
    {{ form_row(form.name) }}
    <br/>
    {{ form_row(form.userSomething) }}
    <br/>
    <input type="submit" value="Valider" />
    {{ form_end(form) }}
    </body>
</html>
